/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding-block-start: 100px;
  padding-block-end: 103px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--Inter-Variable);
  font-variation-settings: 'wght' 400;
  font-size: 18px;
  line-height: 1.2;
}

.content-section {
  margin: 0 auto; 
  inline-size: var(--content-section-width);
}

.header {
  border: 2px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-block-size: 323px;
}

.page__header {
  margin-block-end: 100px;
}

.header__title {
  margin-bottom: 20px;
  font-family: var(--PressStart2P);
  font-size: var(--header-title-font-size);
}

.header__subtitle {
  font-family: var(--PressStart2P);
  font-size: var(--header-text-font-size);
  text-transform: uppercase;
}

.page__main {
  margin-block-end: 52px;
}

.card {
  border: 2px solid var(--color-1);
}

.card__title {
  padding: 4px 10px;
  inline-size: 90%;
  font-variation-settings: var(--card-title-font-weight);
  font-size: 18px;
  line-height: 1;
}

.card__image-container {
  position: relative;
}

.card__image {
  display: block;
  inline-size: var(--card-image-size);
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.card__image-label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 13px;
  font-family: var(--PressStart2P);
  line-height: 1;
  text-shadow: -1px 0 var(--color-2),
  1px 0 var(--color-2),
  0 1px var(--color-2),
  0 -1px var(--color-2);
  mix-blend-mode: hard-light;
  opacity: 50%;
}

@supports (text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--color-2);
    text-shadow: none;
  }
}

.card__text-content {
  margin-block-end: 25px;
  padding: 25px 25px 0;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__buttons {
  padding: 0 25px 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card__icon-button {
  margin-inline-end: 12px;
  padding-block-start: 9px;
}

.card__like-button {
  border: 2px solid var(--color-1);
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 130px;
  min-block-size: 38px;
}

.button__text {
  font-family: var(--PressStart2P);
  font-size: 14px;
  line-height: 0.9;
  text-align: center;
}

.floppy-button {
  display: block;
  border: 2px solid var(--color-1);
  padding: 15px 19px;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  min-block-size: clamp(5rem, 5.5502rem + -2.3474vw, 3.4375rem);
}

.page__floppy-button {
  margin: 0 auto;
}

.floppy {
  margin: 0 auto;
  display: block;
  inline-size: var(--floppy-icon-size);
  block-size: var(--floppy-icon-size);
}