/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --Inter-Variable: 'Inter-Variable', Arial, sans-serif;
    --PressStart2P: 'PressStart2P', Arial, sans-serif;
    --header-title-font-weight: 700;
    --header-text-font-weight: 400;
    --header-title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --header-text-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --content-section-width: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
}